<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Helper</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Cybersecurity Helper</h1>
        <p>Your tools for safer online practices</p>
    </header>

    <main>
        <nav>
            <a href="/password-checker">Password Strength Checker</a>
            <a href="/password-generator">Password Generator</a>
        </nav>
        <section>
            <p>Choose a tool above to get started!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Cyber_Website. All rights reserved.</p>
    </footer>
</body>
</html>